.header__lang-link {
    width: 22px; /* 22px*/
    height: 20px; /* 20px */
    margin-right: 18px;
    text-decoration: underline;
    color: #FFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.header__lang-link:last-child {
    margin-right: 0;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        width: 30px;
        height: 28px;
        font-size: 24px;
        line-height: 28px;

    } 
}