.lead {
    margin-top: 48px;
    width: 100%; /* 320px*/
    height: 126.875%;/* 406px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .lead {
        width: 90.625%;
        height: 93.9453125%;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        width: 76.875%;
        height: 78.515625%;
        margin-top: 56px;
        margin-right: 148px;
        margin-left: 148px;
    }
}

