.photo-grid {
    margin: 64px 16px;
    min-width: 90%;
    min-height: 851.25%;
    display: grid;
    gap: 12px;
}
   
@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 88px 24px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 92px  48px;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}