.lead__subtitle {
    max-width: 640px;
    margin: 16px auto 0 auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
        margin-top: 32px;
    }
}
 