.cover__title {
    max-width: 560px;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 32px;
    }
}
