.footer {
    min-width: 58.125%;
    min-height: 2.34375%;
    padding: 64px 118px 24px 16px;
    
    border: 1px dotted red;
    display: flex;
}

@media screen and (min-width: 768px) {
    .footer {
       padding: 88px 24px 24px 24px;
    
    }
}

@media screen and (min-width: 1024px) {
    .footer {
       padding: 92px 48px 24px 48px;
    }
}