.place__website {
    width: 288px;
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    align-self: end;
}

@media screen and (min-width: 768px) {
    .place__website {
         margin: 0;
    }
}

